<div class="container-fluid mt-5" style = "max-width: 80%;">
  <%= form_with(model: task, local: true, html: { class: "form-horizontal" }) do |form| %>
    <% if task.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
        <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <div class="col-md-10 offset-md-1">
        <%= form.text_field :task_name, class: "form-control", placeholder: "Task Name" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-10 offset-md-1">
        <%= form.text_area :description, rows: 4, class: "form-control", placeholder: "Description" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-10 offset-md-1">
        <%= form.datetime_field :dead_line, class: "form-control", placeholder: "Deadline" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-10 offset-md-1">
        <%= form.select :status, options_for_select(Task.statuses.keys.map { |status| [status.humanize, status] }, task.status), {}, class: "form-control", placeholder: "Status" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1">
<<<<<<< HEAD
        <%= form.submit @task.persisted? ? "Save Changes" : "Create Task", class: "btn btn-primary", style: "background-color: #42647D; color: white;" %>
        <%= link_to 'Back', tasks_path, class: "btn btn-secondary ms-2", style: "background-color: #42647D; color: white;" %>
=======
        <%= form.submit @task.persisted? ? "Save Changes" : "Create Task", class: "btn btn-primary", style: "background-color: #F7E7DC; color: black;" %>
        <%= link_to 'Back', tasks_path, class: "btn btn-secondary ms-2", style: "background-color: #F7E7DC; color: black;" %>
>>>>>>> e833fd3302f081aa03f0d785543041340fdc47a5
      </div>
    </div>
  <% end %>
</div>
