<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
  <div class="card shadow-sm border-0 h-100">
    <div class="card-body">
      <h5 class="card-title"><%= task.task_name %></h5>
      <p class="card-text"><%= task.description %></p>
      <p class="card-text"><small class="text-muted">Deadline: <%= task.dead_line.strftime("%Y-%m-%d") %></small></p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <%= link_to 'Edit Task', edit_task_path(task), class: "btn me-2", style:"background-color: #42647D; color:white" %>
      <%= button_to 'Delete Task', task_path(task), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
