<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Task Details</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Task Name:</dt>
        <dd class="col-sm-9"><%= task.task_name %></dd>

        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9"><%= task.description %></dd>

        <dt class="col-sm-3">Dead Line:</dt>
        <dd class="col-sm-9"><%= task.dead_line %></dd>

        <dt class="col-sm-3">Status:</dt>
        <dd class="col-sm-9">
          <span class="badge badge-<%= task.status %>"><%= task.status.humanize %></span>
        </dd>
      </dl>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div>
        <%= link_to 'Edit Task', edit_task_path(task), class: "btn btn-primary" %>
        <%= link_to 'Back to List', tasks_path, class: "btn btn-secondary ml-2" %>
      </div>
      <div>
        <%= button_to "Destroy this task", task, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
